@page
@using Framework
@model HomeServices.Endpoint.RazorPages.UI.Pages.ExpertCommentsModel
@{
    Layout = "Shared/_Layout-Account";
}
<div class="goodup-dashboard-content">
    <div class="dashboard-widg-bar d-block mb-5  bg-whit">
    <div class="row">

        <div class="table table-responsive">
            <table class="table table-striped table-hover table-borderless table-sm ">
                <thead>
                <tr>
                    <th scope="col">نام کارشناس</th>
                    <th scope="col">متن</th>
                    <th scope="col">امتیاز</th>
                    <th scope="col">تاریخ ایجاد</th>
                </tr>
                </thead>
                <tbody>

                @foreach (var comment in @Model.comments)
                {
                    <tr>
                        <td>@comment.Expert.FirstName @comment.Expert.LastName</td>
                        <td>@comment.CommentText</td>
                        <td>@comment.Score</td>
                        <td>@comment.CreatAt.ToPersianString("yyyy/MM/dd")</td>
                    </tr>
                }
                </tbody>

            </table>
        </div>
    </div>
</div>
</div>